
.~lock.escherichia.csv#

#Ignorar Python cache
*.pyc
*.egg-info/
.ipynb_checkpoints/

#Ignorar Jupyeter Notebook
.ipynb_checkpoints/

#Ignorar data
data/**/*.csv

#Ignorar figuras
results/**/*.png

#Ignorar Platon
data/raw/metadata/
data/raw/platon_test/
data/processed/
data/raw/platon/
